.actus-carousel-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  overflow: hidden;
  max-width: 80vw;
  margin: 0 auto;
}

.actus-container {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 2rem;
  scroll-behavior: smooth;
  padding: 1rem 0;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.actus-container::-webkit-scrollbar {
  display: none;
}

.actus-box {
  flex: 0 0 calc((100% - 4rem) / 3);
  scroll-snap-align: center;
  aspect-ratio: 1 / 1.5;
  background-color: var(--bg-presentation-box);
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.image-part,
.content-part {
  flex: 1;
  overflow: hidden;
}

.content-part {
  flex: 1;
  overflow: hidden;
  font-size: clamp(12px, 1.5vw, 18px) !important;
  padding: 1em;
}


.image-part img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.carousel-arrow {
  position: absolute;
  top: 10px;
  padding: clamp(0.3rem, 1vw, 0.5rem) clamp(0.6rem, 2vw, 1rem);
  border-radius: 4px;
  font-size: clamp(1rem, 2vw, 1.5rem);
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  cursor: pointer;
  border: none;
  transition: background 0.3s;
  z-index: 2;
}

.carousel-arrow.left {
  left: 10px;
}

.carousel-arrow.right {
  right: 10px;
}

.carousel-arrow:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.actus-title {
    text-align: center;
    font-size: 1.8rem;
    color: var(--separation-part);
  }

@media screen and (max-width: 768px) {
  .actus-box {
    flex: 0 0 90%;
  }

  .actus-container {
    gap: 1rem;
  }

  .carousel-arrow {
    display: none;
  }

  .actus-title {
    text-align: center;
    font-size: clamp(1.4rem, 4vw, 2rem);
    margin-left: 0;
  }

  .content-part {
  font-size: clamp(1rem, 1.8vw, 2rem) !important;
}
}
